* {
    font-family: "Times New Roman", Times, serif;
    /*font-family: "Courier New", Courier, monospace	;*/
}



input{
	max-width: 100px;
}

#jsonOutPut, #lastId, #lastIdSpan{
	display: none;
}
.columnDiv{
	margin-top:0px;
	margin-bottom:0px;
	padding-top: 0px;
	padding-bottom: 0px;
}